# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Debug and log files
*.log
firebase-debug.log*
.firebase/

# OS metadata
.DS_Store
Thumbs.db
